<div class="container">
    <h1>Personal del Hotel</h1>
    <button class="btn btn-info" type="button" routerLink="/empleados/form">Nuevo</button>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" name="filterEmpleado" class="form-control" placeholder="Buscar" [(ngModel)]="filterEmpleado">
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Cargo</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados | filter:filterEmpleado">
                <th scope="row">{{empleado.id}}</th>
                <td>{{empleado.nombres}}</td>
                <td>{{empleado.apellidos}}</td>
                <td>{{empleado.id_cargo}}</td>
                <td><button style="margin-right: 10px;" class="btn btn-primary" [routerLink]="['/empleados/form',empleado.id]" routerLinkActive="router-link-active">Editar</button>
                    <button class="btn btn-danger" (click)="delete(empleado)">Eliminar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>