<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombres" class="col-form-label col-sm-2">Nombres</label>
                <input type="text" class="form-control" name="nombres" [(ngModel)]="empleado.nombres">
            </div>
            <div class="form-group col-md-6">
                <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
                <input type="text" class="form-control" name="apellidos" [(ngModel)]="empleado.apellidos">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="fecha_nacimiento" class="col-form-label col-sm-6">Fecha de Nacimiento</label>

                <input type="text" class="form-control" name="apellidos" [(ngModel)]="empleado.fecha_nacimiento">


            </div>
            <div class="form-group col-md-6">
                <label for="nacionalidad" class="col-form-label col-sm-2">Nacionalidad</label>
                <input type="text" class="form-control" name="nacionalidad" [(ngModel)]="empleado.nacionalidad">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dui" class="col-form-label col-sm-2">Dui</label>

                <input type="text" class="form-control" name="dui" [(ngModel)]="empleado.dui">

            </div>
            <div class="form-group col-md-6">
                <label for="isss" class="col-form-label col-sm-2">isss</label>

                <input type="text" class="form-control" name="isss" [(ngModel)]="empleado.isss">

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nup" class="col-form-label col-sm-2">nup</label>

                <input type="text" class="form-control" name="nup" [(ngModel)]="empleado.nup">
            </div>
            <div class="form-group col-md-6">
                <label for="direccion" class="col-form-label col-sm-2">Direccion</label>
                <input type="text" class="form-control" name="direccion" [(ngModel)]="empleado.direccion">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ciudad" class="col-form-label col-sm-2">Ciudad</label>

                <input type="text" class="form-control" name="ciudad" [(ngModel)]="empleado.ciudad">
            </div>
            <div class="form-group col-md-6">
                <label for="telefono" class="col-form-label col-sm-2">telefono</label>
                <input type="text" class="form-control" name="telefono" [(ngModel)]="empleado.telefono">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sexo" class="col-form-label col-sm-2">sexo</label>

                <input type="text" class="form-control" name="sexo" [(ngModel)]="empleado.sexo">

            </div>
            <div class="form-group col-md-6">
                <label for="fecha_contratacion" class="col-form-label col-sm-6">Fecha de Contratacion</label>

                <input type="text" class="form-control" name="fecha_contratacion" [(ngModel)]="empleado.fecha_contratacion">

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cargo" class="col-form-label col-sm-2">Cargo</label>

                <select [(ngModel)]="empleado.id_cargo" name="Cargo" (change)="changeCargo($event)" class="form-control">
          <option value="">Seleccionar</option>
          <option [value]="c.id" *ngFor="let c of cargo">
            {{c.nombre_cargo}}
          </option>


        </select>


            </div>
            <div class="form-group col-md-6">
                <label for="id_departamento " class="col-form-label col-sm-2 ">Departamento</label>

                <select [(ngModel)]="empleado.id_departamento" name="Departamento" (change)="changeCargo($event)" class="form-control">
          <option value="">Seleccionar</option>
          <option [value]="d.id" *ngFor="let d of departamento">
            {{d.nombre_departamento}}
          </option>
        </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="estado " class="col-form-label col-sm-2 ">Estado</label>

                <select [(ngModel)]="empleado.state" name="estado" (change)="changeCargo($event)" class="form-control">
          <option value="">Seleccionar</option>
          <option [value]="empleado.state">
            {{empleado.state}}
          </option>
        </select>

            </div>
            <div class="form-group col-md-6">

            </div>
        </div>
        <button class="btn btn-success " (click)="create() " *ngIf="!empleado.id else elseBlock ">Registrar</button>
        <ng-template #elseBlock>
            <button class="btn btn-success " (click)="update() ">Actualizar</button>
        </ng-template>
    </div>
</div>