<div class="container">
    <h1>Habitaciones del Hotel</h1>
    <button class="btn btn-info" type="button" routerLink="/habitaciones/form">Nuevo</button>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" name="filterEmpleado" class="form-control" placeholder="Buscar" [(ngModel)]="filterHabitacion">
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">N° de Habitacion</th>
                <th scope="col">Tipo de habitacion</th>
                <th scope="col">Precio</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let habitacion of habitaciones | busHabitacion:filterHabitacion">
                <th scope="row">{{habitacion.numero_habitacion}}</th>
                <td>{{habitacion.tipo_habitacion}}</td>
                <td>{{habitacion.precio}}</td>

                <td *ngIf="habitacion.estado_habitacion;else elseBlock">Activo</td>
                <ng-template #elseBlock>
                    <td>Inactivo</td>
                </ng-template>

                <td><button style="margin-right: 10px;" class="btn btn-primary" [routerLink]="['/habitaciones/form',habitacion.id]" routerLinkActive="router-link-active">Editar</button>
                    <button class="btn btn-danger" (click)="delete(habitacion)">Eliminar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
