<div class="container">
    <h1>Cargos del Hotel</h1>
    <button class="btn btn-info" type="button" routerLink="/cargos/form">Nuevo</button>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" name="filterCargo" class="form-control" placeholder="Buscar" [(ngModel)]="busCargoCargo">
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cargo</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let cargo of cargos | busCargo:busCargoCargo">
                <th scope="row">{{cargo.id}}</th>
                <td>{{cargo.nombre_cargo}}</td>

                <td><button style="margin-right: 10px;" class="btn btn-primary" [routerLink]="['/cargos/form',cargo.id]" routerLinkActive="router-link-active">Editar</button>
                    <button class="btn btn-danger" (click)="delete(cargo)">Eliminar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
